# Yeni baslayanlar icin istatik dersine giris

In [1]:
import pandas as pd
import numpy as np

sozluk = {'İsim':pd.Series(['Ada','Cem','Sibel','Ahmet','Mehmet','Ali','Veli',
          'Ayşe','Hüseyin','Necmi','Nalan','Namık']),
          'Puan':pd.Series([89, 87, 77, 55, 70, 79, 73, 79, 54, 92, 61, 69])}
df = pd.DataFrame(sozluk)
df

       İsim  Puan
0       Ada    89
1       Cem    87
2     Sibel    77
3     Ahmet    55
4    Mehmet    70
5       Ali    79
6      Veli    73
7      Ayşe    79
8   Hüseyin    54
9     Necmi    92
10    Nalan    61
11    Namık    69

## Ortalama

In [2]:
df['Puan'].mean()

73.75

## Modu

In [3]:
df['Puan'].mode()

0    79
dtype: int64

## Medyan

In [4]:
df['Puan'].median()

75.0

## Standart Sapma

In [5]:
df['Puan'].std()

12.606816338069583

## Varyans

In [6]:
df['Puan'].std()**2

158.9318181818182

# Örneklem

Hedef kitle içerisinden seçilen alt kümeye örneklem denir.

In [9]:
import numpy as np
veri=np.random.randint(0,20,1000)
np.random.seed(5)
orneklem=np.random.choice(a=veri,size=10)
orneklem[1:10]
np.array([10, 11, 12, 13, 19, 17, 17,  0,  3])
orneklem.mean()

10.5

In [10]:
veri.mean()

9.687